{% extends 'routing/base.html' %}
{% load static %}

{% block title_block %}
    Map
{% endblock %}

{% block script_block %}
<script src="{% static 'js/map.js' %}"></script>
<link rel="stylesheet" href="{% static '/style/map.css' %}">
{% endblock %}

{% block body_block %}

<p id="id"></p>

<div id="main">
    <div id="header">
        <h1 id="logo"><a href="">Travelling Turfer</a></h1>
        <h1 id="help">?</h1>
    </div>
    <div id="navbar">
        <button id='createRoute'>Create Route</button>
        <button id='selectVisible'>Select Visible</button>
        <button id='deselectVisible'>De-select Visible</button>
        <button id='deselectAll'>De-select All</button>
        <button id='toggleMap'>Toggle Map</button>
    </div>
    <div id="map"></div>
    <div id="statsbar">
        <p class="stats">Selected zones: <span id="selectedZoneCount">0</span></p>
        <p class="stats">Points per hour: <span id="selectedZonePointsPerHour">0</span></p>
        <p class="stats">Takeover points: <span id="selectedZoneTakeoverPoints">0</span></p>
    </div>
</div>

<div class="overlay-hidden" id="loader">
    <div class="overlay-header"><p id="loader-status-message">Processing</p><div class="status-icon">...</div></div>
    <div class="overlay-item-hidden"><p id="loader-distance-matrix-message">TODO</p><div class="status-icon">...</div></div>
    <div class="overlay-item-hidden"><p id="loader-base-algorithm-message">TODO</p><div class="status-icon">...</div></div>
    <div class="overlay-item-hidden"><p id="loader-two-opt-message">TODO</p><div class="status-icon">...</div></div>
    <div class="overlay-item-hidden"><p id="loader-three-opt-message">TODO</p><div class="status-icon">...</div></div>
    <div class="overlay-item-hidden"><p id="loader-summary-message">TODO</p><div class="status-icon">...</div></div>
    <div class="overlay-item-hidden" id="showRoute"><button id='goToRoute'>Show route</button></div>
</div>

<div class="overlay-hidden" id="instructions">
    <div id="help-close">&#10060;</div>
    <p class="overlay-header">Instructions</p>
    <p class="overlay-item">Pan and zoom around to find desired area</p>
    <p class="overlay-item">Click or select zones for inclusion in  your route</p>
    <p class="overlay-item">Use 'Toggle Map' to swap between map and satellite</p>
    <p class="overlay-item">Press 'Create Route' to begin route optimisation</p>
    <p class="overlay-item">Happy Turfing!</p>
</div>

{% endblock %}