{% extends 'routing/base.html' %}
{% load static %}

{% block title_block %}
    Map
{% endblock %}

{% block script_block %}
<script src="{% static 'js/map.js' %}"></script>
<link rel="stylesheet" href="{% static '/style/map.css' %}">
{% endblock %}

{% block body_block %}

    <p id="prompt"></p>
    <p id="stats">Selected zones: <span id="selectedZoneCount"></span></p>
    <p id="stats">Points per hour: <span id="selectedZonePointsPerHour"></span></p>
    <p id="stats">Takover points: <span id="selectedZoneTakeoverPoints"></span></p>

    <div id="map"></div>

    <div><button id='createRoute'>Create Route</button></div>

{% endblock %}