{% extends 'routing/base.html' %}
{% load static %}

{% block script_block %}
<script src="{% static 'js/route.js' %}"></script>
<script src="{% static 'js/togpx.js' %}"></script>
<link rel="stylesheet" href="{% static '/style/map.css' %}">
{% endblock %}

{% block title_block %}
    Route{{id}}
{% endblock %}


{% block body_block %}
    
    <p id="id">{{id}}</p>

    <div id="main">
        <div id="header">
            <h1 id="logo"><a href="../map/">TravellingTurfer</a></h1>
            <h1 id="help">?</h1>
        </div>
        <div id="navbar">
            <button id='downloadRoute'>Download Route</button>
            <button id='shareRoute'>Share Route</button>
        </div>
        <div id="map"></div>
        <div id="statsbar">
            <p class="stats">Distance: <span id="routeDistance">0</span></p>
            <p class="stats">Zones: <span id="routeZones">0</span></p>
            <p class="stats">Points per hour: <span id="routePointsPerHour">0</span></p>
            <p class="stats">Takeover points: <span id="routeTakeoverPoints">0</span></p>
        
        </div>
    </div>

    <div class="overlay-hidden" id="instructions">
        <div id="help-close">&#10060;</div>
        <p id="overlay-header">Instructions</p>
        <p class="overlay-item">Click a zone to make it the start/finish of your route</p>
        <p class="overlay-item">Click zone '0' to reverse the direction of your route</p>
        <p class="overlay-item">Click 'Download' to save your route</p>
        <p class="overlay-item">Import the GPX file into your favourite navigation app</p>
        <p class="overlay-item">Share your route with other Turfers!</p>
        <p class="overlay-item">Happy Turfing!</p>
    </div>

{% endblock %}