#map { 
    height: 75vh; 
    z-index: 1;
}

#navbar {
    display: flex;
    margin-bottom: 2px;
    flex-direction: row; 
}

#statsbar {
    display: flex;
    margin-top: 1px;
    flex-direction: row;
    
    
}

.stats {
    flex: 1;
    padding: 0.5em;
    background-color: rgba(233, 229, 14, 0.8);
    text-align: center;
    font-size: 1em;
    font-family: sans-serif;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 2px 0;
}

button {
    flex: 1;
    margin: 0 2px 0;
    min-height: 2rem;
    background-color: rgba(233, 229, 14, 0.8);
    font-size: 1em;
    font-family: sans-serif;
    border: 1px solid grey;
    border-radius: 5px;
}

#goToRoute {
    flex: 0 0 40%;
    margin: auto auto 1em;
    background-color: rgba(119, 178, 85, 0.8);
    

}

#main {
    margin-left: 2.5vh;
    margin-right: 2.5vh;
}

#header {
    display: flex;
}

#logo {
    align-self: flex-start;
}

#help {
    margin-left: auto;
}



#help:hover #instructions {
    display: block;
}



h1 {
    margin-bottom: 2vh;
    margin-top: 0;
    color: rgb(233, 229, 14);
    text-shadow: 0.1px 1px 2px black;
}

h1 a {
    color: inherit;
    text-decoration: inherit;
    outline: inherit;
}

#id {
    display: none;
}

.loader-hidden,
.instructions-hidden {
    display: none;
}


@media screen and (min-width: 600px) {
    .loader,
    .instructions {
        position: absolute;
        min-height: 40%;
        min-width: 50%;

        top: 30%;
        left: 25%;
        border: 1px solid grey;
        border-radius: 15px;
        background-color: rgba(233, 229, 14, 0.8);
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
}

}

@media screen and (max-width: 599px) {
    .loader,
    .instructions {
        position: absolute;
        height: 100%;
        width: 100%;

        top: 0%;
        left: 0%;
        border: 1px solid grey;
        border-radius: 15px;
        background-color: rgba(233, 229, 14, 0.8);
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.loader .loader-info,
.loader .loader-header {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

.loader div:first-of-type {
    width: auto;
    align-self: center;
    margin-left: 0;
    
}


#help-close {
    position: absolute;
    top: 5%;
    right: 5%;
}


.loader p,
.instructions p{
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 1em;
}

#loader-status-message,
#instructions-header {
    font-size: 1.25em;
}

.loader-info-hidden {
    display: none;
}

.status-icon {
    margin-left: auto !important;
}
